/node_modules
/dist
/out
/build
/.turbo
/.parcel-cache
/.vscode
/.idea
/.DS_Store
/src-tauri/target
/src-tauri/.cargo
.env
TODO.md
comm.md
Manual_README.md
Manual_README.pdf
manual-pdf.css
docs/*.pdf
src-tauri/operator-cache/  

operator_test_page
